<template name="notesSubmit">
	<div class="notesSubmit">
		<div class="form-style">
			<div class="container">
					<form class="notesSubmitForm" >

						<h3>Express Yourself. It's anonymous</h3>

						<input autofocus="autofocus" type="text" id="postTitle" class=" form-control" name="postTitle" placeholder="Post Title"/>

						<input  type="text" id="note" class=" form-control" name="note" placeholder="Now for some details"/>

						<input type="submit" value="Submit" class="btn btn-primary">
					</form>
			</div>
		</div>
	</div>
</template>
