<template name="wellnessSubmit">
	<div class="wellnessSubmit">
		<div class="form-style">
			<div class="container">
					<form class="notesSubmitForm">
						{{#if currentUser}}
						<div class="pull-right">
							{{> loginButtons}}
						</div>
						{{/if}}
						<h3>Send note. It's anonymous</h3>
						<input autofocus="autofocus" type="text" id="note" class="note-form form-control" name="note" placeholder="Type your note here"/>
						<input type="submit" value="Send note" class="btn btn-primary">
					</form>
			</div>
		</div>
	</div>
</template>
